body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #ffd700;
    background: linear-gradient(45deg, #000000, #434343);
    animation: background 15s ease infinite;
    background-size: 400% 400%;
    overflow: hidden;
    position: relative;
}

@keyframes background {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.keyword {
    position: absolute;
    color: #00f0ff; /* Bright blue color */
    font-size: 2vw; /* Use viewport width for responsive sizing */
    opacity: 0;
    text-shadow: 0 0 10px #00f0ff, 0 0 20px #00f0ff, 0 0 30px #00f0ff;
    animation: fade 10s ease-in-out infinite;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;
    padding: 0 10px; /* Add padding for smaller screens */
}

.coming-soon-message {
    margin-bottom: 20px;
}

.glowing-text {
    font-size: 10vw; /* Use viewport width for responsive sizing */
    margin-bottom: 20px;
    color: #ffd700;
    text-shadow: 0 0 10px #ffd700, 0 0 20px #ffd700, 0 0 30px #ffd700, 0 0 40px #ffd700, 0 0 50px #ffd700;
    animation: glow 2s infinite alternate;
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px #ffd700, 0 0 20px #ffd700, 0 0 30px #ffd700, 0 0 40px #ffd700, 0 0 50px #ffd700;
    }
    to {
        text-shadow: 0 0 20px #ffd700, 0 0 30px #ffd700, 0 0 40px #ffd700, 0 0 50px #ffd700, 0 0 60px #ffd700;
    }
}

.flashing-text {
    font-size: 4vw; /* Use viewport width for responsive sizing */
    margin: 10px 0;
    animation: flash 1.5s linear infinite;
}

@keyframes flash {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

footer {
    background: #333333;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
}

/* Media queries for different screen sizes */
@media (min-width: 600px) {
    .keyword {
        font-size: 1.5vw;
    }
    .glowing-text {
        font-size: 8vw;
    }
    .flashing-text {
        font-size: 3vw;
    }
}

@media (min-width: 1024px) {
    .keyword {
        font-size: 1.2vw;
    }
    .glowing-text {
        font-size: 6vw;
    }
    .flashing-text {
        font-size: 2vw;
    }
}
